{% extends 'base.html' %}
{% block content %}
  <div class="card">
      <div class="card-header"><h3>Cadastro do Projeto Integrador</h3></div>
        <div class="card-body">
            <form method="POST" class="forms-sample" action="{% url 'createProject' %}">{% csrf_token %}
                <div class="form-group">
                     <label for="inputDate">Nome:</label>
                    {{ form.nome }}
                </div>

                <div class="form-group">
                    <label for="inputDate">Data:</label>
                    <input type="date" class="form-control" id="inputDate" placeholder="nome" name="date">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Descrição:</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" name="descricao"></textarea>
                </div>

                <div class="form-group">
                     <label for="inputDate">Categoria:</label>
                    {{ form.categoria }}
                </div>


                <button type="submit" class="save btn btn-default">Salvar</button>
            </form>
        </div>
  </div>
</div>
{% endblock content %}