{% extends 'base.html' %}
{% block content %}
        <div class="card">
            <div class="card-header row">

            <div class="card-body">
                <table id="advanced_table" class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for project in object_list %}
                           <tr>
                                <td>{{project.nome}} </td>
                                <td>{{project.descricao }} - {{project.date |date:"M d, Y"  }}</td>
                               <td></td>
                          </tr>
                        {% empty %}
                            <li>No articles yet.</li>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

{% endblock content %}